@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url('https://fonts.cdnfonts.com/css/lcd');

:root {
    --border-color: #cacaca;
    --background-color: #ffffff;
  
    --background-box-title: #f7f7f7;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .panelmenu-content-container{
    padding-top: 15px;
  }
  
  header {
    height: 66px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
  }
  header h2 {
    margin: 0px;
    line-height: 66px;
  }
  header a {
    color: black;
  }
  
  .wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
  }
  
  .col {
    overflow: auto;
    width: 300px;
    height: 100%;
    border-right: 1px solid var(--border-color);
  }
  
  .drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
  }
  .menu {
    position: absolute;
    height: 40px;
    display: block;
    background: white;
    width: 100%;
  }
  .menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
  }
  
  .menu ul li.selected {
    font-weight: bold;
  }

  .commands-group {
    float: right;
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    font-size: 20px;
    z-index: 5;
  }

  .zoom-group {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
    font-size: 20px;
    z-index: 5;
  }

  .btn-start {
    float: right;
    position: absolute;
    top: 15px;
    right: 130px;
    color: white;
    font-size: 20px;
    border: 1px solid #005C44;
    background: #008F6A;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
  }

  .btn-stop {
    float: right;
    position: absolute;
    top: 15px;
    right: 130px;
    color: white;
    font-size: 20px;
    border: 1px solid #493e02;
    background: #8f7a00;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
  }

  .btn-save {
    float: right;
    position: absolute;
    top: 15px;
    right: 70px;
    color: white;
    font-size: 20px;
    border: 1px solid #005C44;
    background: #008F6A;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
  }
  
  .btn-clear {
    float: right;
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
  }
  .swal-wide{
      width:80% !important;
  }
  
  .btn-lock {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 120px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #81D4C0;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
  }

  .btn-lock:hover {
    color: #D9EDE7;
  }
  
  .bar-zoom {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #81D4C0;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
  }
  .bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
  }
  .bar-zoom svg:nth-child(1) {
    padding-left: 0px;
  }

  .bar-zoom svg:hover {
    color: #D9EDE7;
  }

  .flow-status {
    float: left;
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    font-size: 16px;
    color: #81D4C0;
    padding: 5px 10px;
    z-index: 5;
  }
  
  #drawflow {
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100% - 50px);
    top: 40px;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image:
     linear-gradient(to right, #f1f1f1 1px, transparent 1px),
     linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  }
  
  @media only screen and (max-width: 768px) {
    .col {
      width: 50px;
    }
    .col .drag-drawflow span {
      display:none;
    }
    #drawflow {
      width: calc(100vw - 51px);
    }
  }
  
  
  
  /* Editing Drawflow */
  
  .drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;
  }
  
  .drawflow .drawflow-node.selected  {
    background: white;
    border: 1px solid #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
  }
  
  .drawflow .drawflow-node.selected .title-box {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
  }
  
  .drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
  }
  
  .drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
  }
  
  .drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
  }
  
  .drawflow .drawflow-node .output {
    right: 10px;
  }
  
  .drawflow .drawflow-node .input {
    left: -10px;
    background: white;
  }
  
  .drawflow > .drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
  }
  
  .drawflow-delete {
    border: 2px solid #ff4e4e;
    background: white;
    color: #ff4e4e;
    -webkit-box-shadow: 0 1px 10px 1px #ff4e4e;
    box-shadow: 0 1px 10px 1px #ff4e4e;
  }
  
  .drawflow-node .title-box {
    height: 45px;
    line-height: 50px;
    background: var(--background-box-title);
    border-bottom: 1px solid #e9e9e9;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .drawflow .title-box svg {
    position: initial;
  }
  .drawflow-node .box {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: #555555;
  
  }
  .drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .drawflow-node.welcome {
    width: 250px;
  }
  
  .drawflow-node.slack .title-box {
    border-radius: 4px;
  }
  
  .drawflow-node input, .drawflow-node select, .drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: #555555;
  }
  
  .drawflow-node textarea {
    height: 100px;
  }

  .drawflow-node.chart {
    padding-bottom: 5px !important;

  }

  .drawflow-node.label {
    background: rgba(255, 255, 255, 0.678) !important;
    padding-bottom: 5px !important;
  }

  .drawflow-node.label div.box {
    padding-left: 5px!important;
    padding-right: 5px!important;
    padding-top: 5px!important;
    padding-bottom: 0px!important;
  }

  .drawflow-node.label input {
    font-size: large;
    font-weight: bold;
    color:#005C44;
    text-align: center;
  }

  .drawflow-node.label .node-status{
    visibility:hidden;
  }
  
  .drawflow-node.comment {
    background: rgba(255, 254, 177, 0.678) !important;
    padding-bottom: 5px !important;

  }

  .drawflow-node.comment .node-status{
    visibility:hidden;
  }

  .drawflow-node.comment div.box {
    padding-left: 5px!important;
    padding-right: 5px!important;
    padding-top: 5px!important;
    padding-bottom: 0px!important;
  }

  .drawflow-node.comment textarea {
    background: rgba(255, 254, 177, 0.678) !important;
    height: 80px;
    width: 250px !important;
    padding: 0px !important;
    border: none;
    font-size: small;
    line-height: 1.5em;
  }
  
  .drawflow-node.personalized {
    background: red;
    height: 200px;
    text-align: center;
    color: white;
  }
  .drawflow-node.personalized .input {
    background: yellow;
  }
  .drawflow-node.personalized .output {
    background: green;
  }
  
  .drawflow-node.personalized.selected {
    background: blue;
  }
  
  .drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;
    
  }
  
  .drawflow .connection .point.selected, .drawflow .connection .point:hover {
    fill: #4ea9ff;
  }

  /* Custom node information */
  .drawflow-node .node-status {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: small;
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

  .drawflow-node.display {
    padding: 2px !important;
  }  

  .drawflow-node.display div.box{
    padding-left: 5px!important;
    padding-right: 5px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;

    background: radial-gradient(#000 16%, transparent 17%),
    radial-gradient(#444 16%, transparent 17%) 0px 1px,
    radial-gradient(#000 16%, transparent 17%) 8px 8px,
    radial-gradient(#444 16%, transparent 17%) 8px 9px;
    background-color:#282828;
    background-size: 16px 16px; 
    
    box-shadow:
      inset 0 0 5px -1px #fff,
      inset 0 0 7px 1px #000,
      inset 0 0 5px 0 #666,
      inset 0 0 5px 0 #666
      ;
  }

  .drawflow-node.display .display {
    position: relative;
    left:0; right:0; margin:auto;
    height:40px; width:130px;
    padding-bottom: 1px;
    background:rgba(45,45,45,1);
    box-shadow:
      inset 1px 1px 7px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
  }

  .drawflow-node.display .display input {
    background:none;
    border:none;
    outline:none;
    position:absolute;
    top:3px; left:0;
    font-family: 'LCD', sans-serif;
    font-size:20pt;
    text-align: right;
    right:0; bottom:0;
    padding:0px 5px;
    color: #a8c64e;
    text-shadow: 3px 2px 0px rgba(0,0,0,.3);
    width:130px;
    background:rgba(56,62,37,1);
    box-shadow:
      inset 1px 1px 6px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
  }

  /* https://codepen.io/pluton/pen/DWwBpr */

  /* TOGGLE Style */

  .drawflow-node.toggle {
    padding: 2px !important;
  }

  .drawflow-node.toggle div.box{
    padding-left: 5px!important;
    padding-right: 5px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;

    background: radial-gradient(#000 16%, transparent 17%),
    radial-gradient(#444 16%, transparent 17%) 0px 1px,
    radial-gradient(#000 16%, transparent 17%) 8px 8px,
    radial-gradient(#444 16%, transparent 17%) 8px 9px;
    background-color:#282828;
    background-size: 16px 16px; 
    
    box-shadow:
      inset 0 0 5px -1px #fff,
      inset 0 0 7px 1px #000,
      inset 0 0 5px 0 #666,
      inset 0 0 5px 0 #666
      ;
  }

  .drawflow-node.toggle .legend{ 
    color:rgba(255, 255, 255, 0.7); font-size:12px; margin-bottom:14px; height:15px; border-color:#2e667700; border-style:solid; border-width:1px 1px 0 1px; box-shadow:1px 1px 0 rgba(255,255,255,0.2) inset; text-shadow:0 1px rgba(255,255,255,.3);
  }

  .drawflow-node.toggle .legend span{
    text-transform:uppercase; position:relative; top:-5px; padding:0 10px; background:#2e667700; display:inline-block;
  }

  .drawflow-node.toggle .checkboxGroup {
    padding-top:8px;
    padding-left: 10px;
    display:inline-block; vertical-align:middle; width:100px; border:none;
  }

  .drawflow-node.toggle .checkboxControl {
    border:2px solid #102838;
    border-radius:7px;
    display:inline-block;
    width: 100px; /* era 100 */
    height:55px; /* era 50 */
    padding-top:1px; /* era 1 */
    position:relative;
    vertical-align:middle;
    margin:0 60px 10px 0;
    color:#297597;
    box-shadow: 0 0 5px rgba(255,255,255,.4), 
          0 2px 1px -1px rgba(255,255,255,.7) inset, 
          8px 0 5px -5px #02425C inset,
          -8px 0 5px -5px #02425C inset;
	  -moz-user-select:none; -webkit-user-select:none; 
	  background:#80DCE9;
  }

  .drawflow-node.toggle .checkboxControl input{ 
    position:absolute; visibility:hidden;
  }

  .drawflow-node.toggle .checkboxControl > div{  
    background:-webkit-linear-gradient(left, #8FD9E4 0%,#A0F2FE 53%,#69DCF1 56%,#33AFCE 99%,#CEF5FF 100%);
		background:linear-gradient(to right, #8FD9E4 0%,#A0F2FE 53%,#69DCF1 56%,#33AFCE 99%,#CEF5FF 100%);
		box-shadow:-2px 0 1px 0 #A6F2FE inset;
		border-radius:5px; line-height:50px; font-weight:bold; cursor:pointer; position:relative; z-index:1; text-shadow:0 1px rgba(255,255,255,0.5);
		
		transform-origin:0 0; -webkit-transform-origin:0 0; 
		transform:scaleX(0.93); -webkit-transform:scaleX(0.93);
		transition:.1s; -webkit-transition:0.1s;
  }

  .drawflow-node.toggle .checkboxControl div:first-letter{
    padding-left: 10px;
    letter-spacing:60px; /* era 55 */
  }

  .drawflow-node.toggle .checkboxControl :checked ~ div{ 
		transform-origin:100% 0; -webkit-transform-origin:100% 0;
		box-shadow:2px 0 1px 0 #A6F2FE inset;
		background:-webkit-linear-gradient(left, #CEF5FF 0%,#33AFCE 1%,#69DCF1 47%,#A0F2FE 50%,#8FD9E4 100%);
		background:linear-gradient(to right, #CEF5FF 0%,#33AFCE 1%,#69DCF1 47%,#A0F2FE 50%,#8FD9E4 100%);
	}

  .drawflow-node.toggle .checkboxControl > b{ 
    position:absolute; bottom:0; right:0; width:50%; height:100%; border-radius:8px; -webkit-transform:skewY(5deg); transform:skewY(5deg); box-shadow: 0 6px 8px -5px #000;
  }

  .drawflow-node.toggle .checkboxControl :checked ~ b{ right:auto; left:0; -webkit-transform:skewY(-5deg); transform:skewY(-5deg); }

  .drawflow-node.toggle .checkboxControl .indicator{
    position:absolute; top:14px; right:-20px; width:8px; height:25px; box-shadow:0 0 8px #000 inset; border:1px solid rgba(255,255,255,0.1); border-radius:15px; transition:0.2s; -webkit-transition:0.2s; 
  }

  .drawflow-node.toggle .checkboxControl .indicator:before{
    content:''; display:inline-block; margin-top:8px; width:2px; height:8px; border-radius:10px; transition:0.5s; -webkit-transition:0.5s;
  }

  .drawflow-node.toggle .checkboxControl :checked ~ .indicator:before{
    box-shadow:0 0 7px 6px #BAFC58; width:6px; background:#F0F9E3; transition:0.1s; -webkit-transition:0.1s;
  }
  