#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /*background: rgba(0,0,0,.5) url(../img/wip.gif) no-repeat center center;*/
  background: rgba(0,0,0,.5) url(../img/loading.gif) no-repeat center center;
  background-size: 250px 250px;
  z-index: 10000;
}

.rotate {
  animation: rotattion 2s infinite liner;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}