<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Machine Learning Sandbox{% block title %} {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="../static/img/bellogo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/loader.css" rel="stylesheet">
        <link href="../static/css/introjs.min.css" rel="stylesheet">
        <link href="../static/css/rating.css" rel="stylesheet">
        <script src="../static/js/cookies.js"></script>
        <link href="../static/css/winter.css" rel="stylesheet">
        <link href="../static/css/theme.css" rel="stylesheet">
        <body class="d-flex flex-column min-vh-100">
            <!--nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark"-->

            <!-- Warning Alert-->
            {% if warning_text !="" %}
            <div class="alert myAlert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                <strong>Warning!</strong> {{warning_text}}
              </div>
            </div>
            {% endif %}

            <!-- Information Alert-->
            {% if info_text !="" %}
            <div class="alert myAlert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                <strong>Success!</strong> {{info_text}}
              </div>
            </div>
            {% endif %}

            <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                      <img class="img-fluid" src="../static/img/digitops.png" width="60">
                      <b>Machine Learning Sandbox</b>
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="fa-regular fa-circle-question"></i> About
                        </a>
                      </li>
                      {% if role=='Administrator' %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('usermanager') }}">
                            <i class="fa-solid fa-users"></i> User's management
                          </a>
                        </li>
                      {% endif %}
                      <li class="nav-item float-right">
                        {% if admin %}
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                          <i class="fa-solid fa-sign-out-alt"></i> Logout {{username}}
                        </a>
                        {% else %}
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                          <i class="fa-solid fa-sign-in-alt"></i> Login
                        </a>
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>

            <div class="container-fluid panelmenu-content-container">

            {% block content %} {% endblock %}
            
            </div>

            <div class="rotate" id="loader"></div>

            <!-- About Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">About</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <img class="img-fluid" src="../static/img/digitops.png">
                        </div>
                        <div class="col-md-8">
                          <h4><b>Machine Learning Sandbox</b></h4>
                          <h6>App version: {{version}}</h6>
                          <h6>Model version: {{mversion}}</h6>
                          <h6>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Azordev.pt</h6>
                        </div>
                      </div>
                    </div>

                    <hr>
                    <p>For more information please contact:</p>
                    <h6><a href = "mailto: geral@azordev.pt">geral@azordev.pt</a></h6>
                    <h6><a href = "https://github.com/CLSoftSilvestre/Machine-Learning-Sandbox" target="_blank">https://github.com/CLSoftSilvestre/Machine-Learning-Sandbox</a></h6>
                    <hr>
                    <!-- Show tutorials -->
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="showTutorials" name="darkmode" checked>
                      <label class="form-check-label" for="showTutorials">Show tutorials</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Dismiss</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Login Modal -->
            <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="{{url_for('Login')}}" method="post">

                      <div class="modal-body">

                        <div class="mb-3 mt-3">
                          <label for="username" class="form-label">Username:</label>
                          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                        </div>

                        <div class="mb-3">
                          <label for="pwd" class="form-label">Password:</label>
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                        </div>

                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Login</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                      </div>

                  </form>
                </div>
              </div>
            </div>

            <!-- Logout Modal -->
            <div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="{{url_for('Logout')}}" method="get">

                      <div class="modal-body">

                        <h5>Do you really want to logout?</h5>

                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Logout</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                      </div>

                  </form>
                </div>
              </div>
            </div>

            <footer class="mt-auto mb-4">
              <div class="text-center">
                <span>
                  <div class="container my-auto">
                    <div class="copyright text-center my-auto" id=copyright>
    
                      <a href="https://www.groupe-bel.com/en/" style="padding:10px" target="_blank" rel="noopener">
                        <img src="../static/img/digitops.png" alt="digitopslogo" height="90">
                      </a>
                      
                    </div>
                  </div>
                </span>
              </div>

            </footer>

            

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
            <script>
              var spinner = $('#loader');
              $(function() {
                $('form').submit(function(e) {
                  //e.preventDefault();
                  spinner.show();
                });
              });
            </script>
            <script>
              var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
              var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                  return new bootstrap.Popover(popoverTriggerEl)
              })
            </script>

            {% block scripts %}
            <script>

              // Change the status of the toggle to false if all tours complete
              let a = getCookie("tourIndexComplete");
              let b = getCookie("tourTrainComplete");
              let c = getCookie("tourDataStudioPart2Complete");
              let d = getCookie("tourDataStudioPart2Complete");

              //if (a == "true" && b == "true" && c == "true") {
              if (a == "true" && b == "true" && c == "true" && d == "true") {
                  document.getElementById("showTutorials").checked = false;
              }

              var switchStatus = false;
              $("#showTutorials").on('change', function() {
                if ($(this).is(':checked')){
                  switchStatus = $(this).is(':checked');
                  setCookie("tourIndexComplete", !switchStatus, 90);
                  setCookie("tourTrainComplete", !switchStatus, 90);
                  setCookie("tourDataStudioPart1Complete", !switchStatus, 90);
                  setCookie("tourDataStudioPart2Complete", !switchStatus, 90);
                }
                else {
                  switchStatus = $(this).is(':checked');
                  setCookie("tourIndexComplete", !switchStatus, 90);
                  setCookie("tourTrainComplete", !switchStatus, 90);
                  setCookie("tourDataStudioPart1Complete", !switchStatus, 90);
                  setCookie("tourDataStudioPart2Complete", !switchStatus, 90);
                }
              });

            </script>
            {% endblock %}
        </body>
    </head>
</html>