{% extends 'base_clean.html' %}

{% block content %}

  <div class="wrapper fadeInDown">
      
      <div class="card">
        <div class="card-header">
          Machine Learning Sandbox Configurator
        </div>
        <form method="POST">
          <div class="card-body">

            <div class="form-check form-switch">
              <input id="useAutentication" class="form-check-input" type="checkbox" name="useAutentication" value="true">
              <label for="useAutentication" class="form-check-label">Use autentication system</label>
            </div>

            <div class="mb-3">
              <label for="adminPassword" class="form-label">Admin user password</label>
              <input type="password" class="form-control" id="adminPassword" name="adminPassword">
            </div>

            <hr>

            <div class="form-check form-switch">
              <input id="usePyGWalker" class="form-check-input" type="checkbox" name="usePyGWalker" value="false">
              <label for="usePyGWalker" class="form-check-label">Use PyGWalker advanced data visualization framework</label>
            </div>

            <hr>

            <div class="form-check form-switch">
              <input id="useAutomation" class="form-check-input" type="checkbox" name="useAutomation" value="true">
              <label for="useAutomation" class="form-check-label">Use Automation Flows</label>
            </div>

            <hr>

            <div class="form-check form-switch">
              <input id="useSiemens" class="form-check-input" type="checkbox" name="useSiemens" value="true">
              <label for="useSiemens" class="form-check-label">Use Siemens PLC connector</label>
            </div>

            <hr>

            <div class="form-check form-switch">
              <input id="useMqtt" class="form-check-input" type="checkbox" name="useMqtt" value="false">
              <label for="useSMqtt" class="form-check-label">Use MQTT connector</label>
            </div>

            <hr>

            <div class="form-check form-switch">
              <input id="useOpcUa" class="form-check-input" type="checkbox" name="useOpcUa" value="false">
              <label for="useOpcUa" class="form-check-label">Use OPC UA connector</label>
            </div>

            <br>

            <div class="d-grid gap3">
              <button type="submit" class="btn btn-primary block">Save initial configuration</button>
            </div>

          
          </div>

        </form>
      </div>
  
  </div>

{% endblock %}
