{% extends 'base.html' %}

{% block content %}

<!-- content -->
<h3 class="m-4">Data Studio</h3>
<div class="row">
    <div class="col-12">
        <!-- Import dataset or use dummy data for training purposes -->
        {% if not uploaded %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h3>Load dataset</h3>     
            </div>
            <div class="card-body">             
                <form action="/uploader/" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="file" class="col-sm-1 col-form-label">Select file</label>
                        <div class="col-sm-5" id="tour-train-import-file">
                            <input type="file" class="form-control text-left" name = "file" id="file" accept=".csv">
                        </div>

                        <label for="sep" class="col-sm-1 col-form-label">Separator</label>
                        <div class="col-sm-1" id="tour-train-import-separator">
                            <input type="text" class="form-control text-left" name = "sep" id="sep" value=";">
                        </div>

                        <!--label for="sep" class="col-sm-1 col-form-label">Separator</label>
                        <div class="col-sm-1">
                            <select class="form-select form-select-sm" name="sep" id="sep">
                                <option value=";">Semicolon</option>
                                <option value=",">Comma</option>
                            </select>
                        </div-->

                        <label for="dec" class="col-sm-1 col-form-label">Decimal</label>
                        <div class="col-sm-1" id="tour-train-import-decimal">
                            <input type="text" class="form-control text-left" name = "dec" id="dec" value=",">
                        </div>

                        <!--label for="dec" class="col-sm-1 col-form-label">Decimal</label>
                        <div class="col-sm-1">
                            <select class="form-select form-select-sm" name="dec" id="dec">
                                <option value=",">Comma</option>
                                <option value=".">Point</option>
                            </select>
                        </div-->

                        <div class="col-sm-2 text-center">
                            <button type="submit" class="btn btn-primary" id="tour-train-import-parse"><i class="fas fa-file-import"></i> Parse CSV</button>
                        </div>

                    </div>
                </form>
            </div>   
        </div>
        <!-- When data is already imported -->
        {% else %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                
                <!-- Functionalities buttons -->
                <div class="d-flex flex-row gap-3">

                    <a class="btn btn-warning" type="button" href="{{ url_for('cleardataset')}}" id="tour-train-import-delete-dataset"><i class="fas fa-eraser"></i> Delete dataset</a>

                    <form method="post">
                        <input hidden type="text" name="mod" value="clearnull">
                        <input hidden type="text" name="column" value="all">
                        <!--a class="btn btn-primary" type="submit"><i class="fas fa-bath"></i> Clear nulls</a-->
                        <button type="submit" class="btn btn-primary" id="tour-train-import-clear-nulls"><i class="fas fa-bath"></i> Clear nulls</button>
                    </form>

                    <a class="btn btn-primary disabled" type="button" href="#"><i class="fas fa-download"></i> Export this dataset</a>

                    <form method="post">
                        <input hidden type="text" name="mod" value="usedataset">
                        <!--a class="btn btn-primary" type="submit"><i class="fas fa-bath"></i> Clear nulls</a-->
                        <button type="submit" class="btn btn-primary"><i class="fas fa-robot"></i> Use dataset for ML model training</button>
                    </form>

                </div>
                    
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="descri-tab" data-bs-toggle="tab" data-bs-target="#descri" type="button" role="tab" aria-controls="descri" aria-selected="false">Data statistics</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="types-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="true">Data manipulator</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="outliers-tab" data-bs-toggle="tab" data-bs-target="#outliers" type="button" role="tab" aria-controls="resume" aria-selected="false">Boxplots</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="resume-tab" data-bs-toggle="tab" data-bs-target="#resume" type="button" role="tab" aria-controls="resume" aria-selected="false">Correlation matrix</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="scatter-tab" data-bs-toggle="tab" data-bs-target="#scatter" type="button" role="tab" aria-controls="scatter" aria-selected="false">Scatter plot</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="dataoperations-tab" data-bs-toggle="tab" data-bs-target="#dataoperations" type="button" role="tab" aria-controls="dataoperations" aria-selected="false">Data operations</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="descri" role="tabpanel" aria-labelledby="descri-tab">
                        <p class="card-text">
                            <div class="table-responsive">
                                {% for table in descTable %}
                                    {{ table|safe }}
                                {% endfor %}
                            </div>  
                        </p> 
                    </div>
                    <div class="tab-pane fade show active" id="types" role="tabpanel" aria-labelledby="types-tab">
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr id='tour-train-import-variables'>
                                            <th scope="col">Variable</th>
                                            {% for title in titles %}
                                                <th scope="col">{{title}}</th>
                                            {% endfor %}
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id='tour-train-import-datatypes'>
                                            <td class="align-middle" scope="col">Current data type</td>
                                            {% for dtype in datatypes %}
                                                {% if dtype == "object" %}
                                                    <td class="align-middle"><span class="badge bg-warning">{{dtype}}</span></td>
                                                {% else %}
                                                    <td class="align-middle"><span class="badge bg-success">{{dtype}}</span></td>
                                                {% endif %}
                                                
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-settype'>
                                            <td class="align-middle">Set data type</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <a href="#" type="button" class="btn btn-danger" data-toggle="tooltip" title="Set datatype" data-bs-toggle="modal" data-bs-target="#setTypeConfirmation{{title|replace(' ','')}}"><i class="fa fa-gear"></i></a>
                                                </td>
                                                <!-- set Datatype Modal -->
                                                <div class="modal fade" id="setTypeConfirmation{{title|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="setDatatypeConfirmationLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <form method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="setDatatypeConfirmationLabel">Are you sure you want to change the type of data of column <b>{{title}}</b> ?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input hidden type="text" name="mod" value="setdatatype">
                                                                    <input hidden type="text" name="column" value="{{title}}">

                                                                    <div class="form-horizontal">
                                                                        <div class="form-group row">
                                                                            <!-- New name -->
                                                                            <label for="minimum" class="col-sm-5 col-form-label">Column new name</label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text" class="form-control text-left" id="newname" name="newname" value="{{title}}"></input>
                                                                            </div>

                                                                            <div>&MediumSpace;</div>
    
                                                                            <!-- Data type -->
                                                                            <label for="coldataype" class="col-sm-5 col-form-label">New data type</label>
                                                                            <div class="col-sm-7">
                                                                                <!--input type="number" class="form-control text-left" id="coldataype" name="coldataype"></input-->
                                                                                <select class="form-control text-left" id="coldatatype" name="coldatatype">
                                                                                    <option value="string">String</option>
                                                                                    <option value="datetime">Datetime</option>
                                                                                    <option value="int">Integer</option>
                                                                                    <option value="float">Float</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div>&MediumSpace;</div>

                                                                    <p>⚠️ You can revert this action by deleting this operation in the Data Operations tab.</p>

                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-remove'>
                                            <td class="align-middle">Remove column</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <a href="#" type="button" class="btn btn-danger" data-toggle="tooltip" title="Filter column" data-bs-toggle="modal" data-bs-target="#deleteConfirmation{{title|replace(' ','')}}"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <!-- column Filter Modal -->
                                                <div class="modal fade" id="deleteConfirmation{{title|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <form method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteConfirmationLabel">Are you sure you want to remove the column <b>{{title}}</b> ?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input hidden type="text" name="mod" value="remcol">
                                                                    <input hidden type="text" name="column" value="{{title}}">

                                                                    <p>⚠️ You can revert this action by deleting this operation in the Data Operations tab.</p>

                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-filter'>
                                            <td class="align-middle">Filter column</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <a href="#" type="button" class="btn btn-warning" data-toggle="tooltip" title="Filter column" data-bs-toggle="modal" data-bs-target="#filterConfirmation{{title|replace(' ','')}}"><i class="fa fa-filter"></i></a>
                                                </td>
                                                <!-- column Filter Modal -->
                                                <div class="modal fade" id="filterConfirmation{{title|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filterConfirmationLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <form method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="filterConfirmationLabel">Filter the column <b>{{title}}</b> data</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input hidden type="text" name="mod" value="filtercol">
                                                                    <input hidden type="text" name="column" value="{{title}}">
                                                                    
                                                                    <div class="form-horizontal">
                                                                        <div class="form-group row">
                                                                            <!-- Min -->
                                                                            <label for="minimum" class="col-sm-5 col-form-label">Minimum value inclusive</label>
                                                                            <div class="col-sm-7">
                                                                                <input type="number" class="form-control text-left" id="minimum" name="minimum"></input>
                                                                            </div>

                                                                            <div>&MediumSpace;</div>
    
                                                                            <!-- Max -->
                                                                            <label for="maximum" class="col-sm-5 col-form-label">Maximum value inclusive</label>
                                                                            <div class="col-sm-7">
                                                                                <input type="number" class="form-control text-left" id="maximum" name="maximum"></input>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div>&MediumSpace;</div>

                                                                    <p>⚠️ Data values >= minimum and <= maximum will be keept. Remaining rows will be removed. Leave field blank to ensure that filter is not applied.</p>

                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>  
                        </p>
                    </div>
                    <div class="tab-pane fade" id="outliers" role="tabpanel" aria-labelledby="outliers-tab">
                        <img src="data:image/jpeg;base64,{{outliers}}" class="img-fluid" alt="..." id="outliersimg">
                    </div>
                    <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                        <img src="data:image/jpeg;base64,{{heatmap}}" class="img-fluid" alt="..." id="heatimg">
                    </div>
                    <div class="tab-pane fade" id="scatter" role="tabpanel" aria-labelledby="scatter-tab">
                        <br>

                        <div class="d-flex flex-row gap-3">

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="selectedXVariable"><i class="fas fa-x"></i></label>
                                <select class="form-select" id="selectedXVariable">
                                    <option selected>Choose one variable...</option>
                                    {% for title in titles %}
                                        <option value={{loop.index-1}}>{{title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="selectedYVariable"><i class="fas fa-y"></i></label>
                                <select class="form-select" id="selectedYVariable">
                                    <option selected>Choose one variable...</option>
                                    {% for title in titles %}
                                        <option value={{loop.index-1}}>{{title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="selectedColorVariable"><i class="fas fa-palette"></i></label>
                                <select class="form-select" id="selectedColorVariable">
                                <option selected>Choose one variable...</option>
                                    {% for title in titles %}
                                        <option value={{loop.index-1}}>{{title}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" onclick="UpdateChart()"><i class="fas fa-refresh"></i></button>

                        </div>

                        <br>
                        
                        <!-- Line chart with results of training -->
                        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script-->
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
                        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
                        <!--canvas id="myChart" style="width:100%;max-width:1200px;height:100%;max-height:720px;padding:10px;"></canvas-->
                        <canvas id="myChart" style="width:100%;height:100%;max-height:720px;padding:10px;"></canvas>

                        <canvas id="myCanvas" style="width:100%;height:100%;max-height:50px;padding:10px;"></canvas>

                        <div class="container">
                            <div class="row">
                                <div class="col-2">Min</div>
                                <div class="col-8 text-center">Variable</div>
                                <div class="col-2 text-right">Max</div>
                            </div>
                            <div class="row">
                                <div class="col-2"><h6 id="minValue">0</h6></div>
                                <div class="col-8 text-center"><h6 id="variableName">[Variable Name]</h6></div>
                                <div class="col-2 text-right"><h6 id="maxValue">100</h6></div>
                            </div>
                        </div>
                        
                        <script>

                            var xyValues = [
                                {x:0, y:0}
                            ]

                            var colorPoints = [
                            '#22bfa0'
                            ]

                            // Update the labels
                            var labelX = document.getElementById('selectedXVariable').options[document.getElementById("selectedXVariable").selectedIndex ].text;
                            var labelY = document.getElementById('selectedYVariable').options[document.getElementById("selectedYVariable").selectedIndex ].text;

                            const ctx = document.getElementById('myChart').getContext('2d');

                            const myChart = new Chart("myChart", {
                                type: "scatter",
                                data: {
                                    datasets: [{
                                        pointRadius: 4,
                                        pointBackgroundColor: colorPoints,
                                        pointsBorderColor: colorPoints,
                                        data: xyValues
                                    }]
                                },
                                options:{
                                    elements:{
                                        point:{
                                            borderColor: colorPoints,
                                        }
                                    },
                                    plugins:{
                                        legend: {
                                            display: false
                                        },
                                        zoom:{
                                            zoom:{
                                                wheel:{
                                                    enabled: true,
                                                    modifierKey: 'ctrl',
                                                },
                                                drag:{
                                                    enabled: true,
                                                    modifierKey: 'ctrl',
                                                },
                                                pinch:{
                                                    enabled: true
                                                },
                                                mode: 'xy',
                                            }
                                        }
                                    },   
                                    responsive: true,
                                    scales: {
                                        x: {
                                            title: {
                                                display: true,
                                                text: labelX,
                                            }
                                        },
                                        y: {
                                            title: {
                                                display: true,
                                                text: labelY,
                                            },
                                        },
                                    }
                                }
                            });

                            // Get the data from Jinja2 to Javascript
                            jsData = []
                            {% if rawdata is defined %}
                                {% for row in rawdata %}    
                                    jsData.push({{row}})                          
                                {% endfor %}
                            {% endif %}

                            const newShade = (hexColor, magnitude) => {
                                hexColor = hexColor.replace(`#`, ``);
                                if (hexColor.length === 6) {
                                    const decimalColor = parseInt(hexColor, 16);
                                    let r = (decimalColor >> 16) + magnitude;
                                    r > 255 && (r = 255);
                                    r < 0 && (r = 0);
                                    let g = (decimalColor & 0x0000ff) + magnitude;
                                    g > 255 && (g = 255);
                                    g < 0 && (g = 0);
                                    let b = ((decimalColor >> 8) & 0x00ff) + magnitude;
                                    b > 255 && (b = 255);
                                    b < 0 && (b = 0);
                                    return `#${(g | (b << 8) | (r << 16)).toString(16)}`;
                                } else {
                                    return hexColor;
                                }
                            };

                            function calculateColor(iMin, iMax, iValue){
                                perc = (iValue-iMin)/(iMax-iMin)
                                perc +=0.4
                                // console.log("Min: ", iMin, " Max: ", iMax, " Value: ",iValue," Perc: ", perc*100)
                                return newShade('#00805F', (perc*100))         
                            }

                            function UpdateChart(){

                                singleColor = false

                                myChart.resetZoom(mode='none')

                                const x_variable = document.getElementById('selectedXVariable').value;
                                const y_variable = document.getElementById('selectedYVariable').value;
                                const color_variable = document.getElementById('selectedColorVariable').value;

                                if (x_variable=="Choose one variable..."){
                                    alert("Please select one variable to be assigned to X axis.");
                                    return
                                }
                                    
                                if (y_variable=="Choose one variable...")
                                {
                                    alert("Please select one variable to be assigned to Y axis.");
                                    return
                                }

                                if (color_variable=="Choose one variable...")
                                {
                                    singleColor = true
                                } else {
                                    //Calculate the Min and Max of the variable
                                    var minColor = 0
                                    var maxColor = 0
                                    jsData.forEach(element => {
                                        if (element[color_variable] < minColor){
                                            minColor = element[color_variable]
                                        }
                                        if (element[color_variable] > maxColor){
                                            maxColor = element[color_variable]
                                        } 
                                    });
                                }

                                xyValues.length = 0
                                colorPoints.length = 0
                                
                                jsData.forEach(line => {
                                    // console.log("X:", line[x_variable], "Y:", line[y_variable])
                                    xyValues.push({
                                        'x': line[x_variable],
                                        'y': line[y_variable]
                                    })

                                    // Cores dos pontos
                                    if (singleColor == true){
                                        colorPoints.push('#22bfa0')
                                    } else {
                                        // Criar linearização de cor
                                        if (line[color_variable] == 0){
                                            colorPoints.push('#000000')
                                        } else {
                                            colorPoints.push(calculateColor(minColor, maxColor, line[color_variable]))
                                        } 
                                    }

                                    // Update canvas
                                    const c = document.getElementById("myCanvas");
                                    const ctx = c.getContext("2d");
                                    const grad = ctx.createLinearGradient(0,0,280,0);
                                    grad.addColorStop(0, newShade('#00805F', 40));
                                    grad.addColorStop(1, newShade('#00805F', 140));
                                    ctx.fillStyle = grad;
                                    ctx.fillRect(0,0,500,130);

                                    // Update the values and names
                                    const min = document.getElementById("minValue")
                                    const max = document.getElementById("maxValue")
                                    const name = document.getElementById("variableName")
                                    const variable = document.getElementById('selectedColorVariable').options[document.getElementById("selectedColorVariable").selectedIndex].text

                                    min.innerText = minColor.toFixed(2)
                                    max.innerText = maxColor.toFixed(2)
                                    name.innerText = variable
 
                                });

                                // Update the labels
                                labelX = document.getElementById('selectedXVariable').options[document.getElementById("selectedXVariable").selectedIndex ].text;
                                labelY = document.getElementById('selectedYVariable').options[document.getElementById("selectedYVariable").selectedIndex ].text;

                                // console.log(labelX, " - ", labelY)
                                myChart.options.scales.y.title.text = labelY
                                myChart.options.scales.x.title.text = labelX
                                // Update the chart
                                myChart.update()
                            }

                        </script>
                        <!-- End of chart -->
                    </div>
                    <div class="tab-pane fade" id="dataoperations" role="tabpanel" aria-labelledby="dataoperations-tab">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Pos</th>
                                    <th scope="col"></th>
                                    <th scope="col">Operation type</th>
                                    <th scope="col">Parameters</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for oper in datastudio.operations %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{loop.index}}</td>
                                        <!-- Operation icon -->
                                        {% if oper.operation == 'setdatatype' %}
                                        <td style="vertical-align: middle;"><i class="fas fa-pen"></i></td>
                                        <td style="vertical-align: middle;">Set column new data type</td>
                                        {% elif oper.operation == 'remcol' %}
                                        <td style="vertical-align: middle;"><i class="fas fa-eraser"></i></td>
                                        <td style="vertical-align: middle;">Colum removed</td>
                                        {% elif oper.operation == 'setcolumnname' %}
                                        <td style="vertical-align: middle;"><i class="fas fa-font"></i></td>
                                        <td style="vertical-align: middle;">Colum name changed</td>
                                        {% elif oper.operation == 'clearnull' %}
                                        <td style="vertical-align: middle;"><i class="fas fa-filter"></i></td>
                                        <td style="vertical-align: middle;">Delete rows with null data</td>
                                        {% elif oper.operation == 'filtercol' %}
                                        <td style="vertical-align: middle;"><i class="fas fa-filter"></i></td>
                                        <td style="vertical-align: middle;">Filter rows acording column values</td>
                                        {% else %}
                                        <td style="vertical-align: middle;"><i class="fas fa-question"></i></td>
                                        <td style="vertical-align: middle;">{{oper.operation}}</td>
                                        {% endif %}

                                        <td style="vertical-align: middle;">{{oper.params}}</td>

                                        <td style="vertical-align: middle;">
                                            <a href="#" type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete operation" data-bs-toggle="modal" data-bs-target="#deleteOperationConfirmation{{oper.uuid|replace(' ','')}}"><i class="fa fa-trash"></i></a>
                                        </td>

                                        <!-- column Delete Operation Modal -->
                                        <div class="modal fade" id="deleteOperationConfirmation{{oper.uuid|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteOperationConfirmationLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">

                                                <div class="modal-content">
                                                    <form method="post">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteOperationConfirmationLabel">Are you sure you want to remove the operation <b>{{oper.operation}}</b> ?</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <input hidden type="text" name="mod" value="deloperation">
                                                            <input hidden type="text" name="uuid" value="{{oper.uuid}}">
                                                            <input hidden type="text" name="pos" value="{{loop.index0}}">

                                                            <p>⚠️ This action is irreversible. However you can re-apply the data operation again.</p>
                                                            <p> Operation UUID: {{oper.uuid}}</p>
                                                            <p> Operation Type: {{oper.operation}}</p>
                                                            <p> Operation Parameters: {{oper.params}}</p>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>    
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}    
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% if uploaded %}
            <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-list fa-database"></i> Dataset preview (only first 10 records)
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        {% for table in tables %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>  
                </p>
            </div>
            </div>
        {% endif %}            
    </div>
</div>
<!-- end content-->

  
{% endblock %}

{% block scripts %}
<!-- Accentuate the NaN value in table-->
    <script>
        const cells = document.querySelectorAll('td');
        // console.log(cells)

        for (let i=0; i < cells.length; i++){
            if(cells[i].innerText == "NaN"){
                cells[i].innerText = "⚠️"
            }
        }
        
    </script>
    <script src="../static/js/intro.min.js"></script>  
    <script src="../static/js/tour-train.js"></script>
{% endblock %}
