{% extends 'base.html' %}

{% block title %} Model details {% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1.0/dist/chartjs-chart-matrix.min.js"></script>
<script type="text/javascript" src="../static/js/polyfit.js"></script>

  <h3 class="m-4">Model details</h3>

  <div class="row">
    <div class="col-12">
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-body">
          {% if loggedin %}
            <a class="btn btn-success" type="button" href="{{ url_for('usedataset', uuid=Model.uuid)}}"><i class="fas fa-database"></i> Use this dataset in Data Studio</a>
          {% else %}
            <a class="btn btn-success disabled" type="button" href="#"><i class="fas fa-database"></i> Use this dataset in Data Studio</a>
          {% endif %}
        </div>        
      </div>     
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if Model %}
      
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-header">
          <i class="fa-solid fa-list fa-lg"></i> Model details
        </div>
        <div class="card-body">
          <!-- Controlos para selecionar projecto a visualizar -->
          <div class="form-horizontal">

            <!-- Line chart with results of training -->
            <!--script src="https://cdn.jsdelivr.net/npm/chart.js"></script-->

            {% if Model.modelType == 'classification' %}

            <div class="content">
              <div class="row">
                <div class="col-lg-3">
                  <canvas id="myDonut"></canvas> 
                </div>

                <div class="col-lg-3">
                  <div class="card ">
                    <div class="card-header"><i class="fa-solid fa-bullseye"></i> Accurate predictions</div>
                    <div class="card-body"><h1 class="text-center text-success" id="accuratePredictions"></h1></div>
                    <div class="card-footer"><h6 class="text-center" id="percOfAccurate"></h6></div>      
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="card">
                    <div class="card-header"><i class="fa-solid fa-thumbs-up"></i> False positive</div>
                    <div class="card-body"><h1 class="text-center text-warning" id="falsePositive"></h1></div>
                    <div class="card-footer"><h6 class="text-center" id="percOfFalsePositive"></h6></div>  
                  </div>
                </div>
      
                <div class="col-lg-3">
                  <div class="card">
                    <div class="card-header"><i class="fa-solid fa-thumbs-down"></i> False negative</div>
                    <div class="card-body"><h1 class="text-center text-warning" id="falseNegative"></h1></div>
                    <div class="card-footer"><h6 class="text-center" id="percOfFalseNegative"></h6></div>
                  </div>
                </div>
    
              </div>

            </div>
               
            <script>

              // Get the data from Jinja2 to Javascript
              jsRealTestData = []
              {% if Model.realTestList is defined %}
                  {% for row in Model.realTestList %}
                    jsRealTestData.push({{row}})          
                  {% endfor %}
              {% endif %}

              jsPredTestData = []
              {% if Model.predTestList is defined %}
                  {% for row in Model.predTestList %}
                    jsPredTestData.push({{row}})          
                  {% endfor %}
              {% endif %}

              // Show data in console
              console.log(jsRealTestData)
              console.log(jsPredTestData)

              var accurate = 0;
              var falsePositive = 0;
              var falseNegative = 0;
              var incorrect = 0;

              // Calculate accurate predictions, false positives and false negatives
              for (let i=0; i< jsRealTestData.length +1; i++){
                if (jsRealTestData[i] == jsPredTestData[i]){
                  accurate++;
                }
                if (jsRealTestData[i] < jsPredTestData[i]){
                  falsePositive++;
                  incorrect++;
                }
                if (jsRealTestData[i] > jsPredTestData[i]){
                  falseNegative++; 
                  incorrect++;
                }
              }

              totalPrediction = accurate + incorrect;
              accuratePerc = (accurate/totalPrediction) * 100;
              errorPerc = (incorrect/totalPrediction) * 100;

              fNegativePerc = (falseNegative/totalPrediction) * 100;
              fPositivePerc = (falsePositive/totalPrediction) * 100;


              const dataDonught = {
                labels: ['Correct', 'Incorrect'],
                datasets: [
                  {
                    label: 'Dataset 1',
                    data: [accuratePerc.toFixed(2), errorPerc.toFixed(2)],
                    backgroundColor: ['#22bfa0','#C02B24']
                  }
                ]
              };

              const ctx2 = document.getElementById('myDonut').getContext('2d');
              
              const myDonut = new Chart (ctx2, {
                type: 'doughnut',
                data: dataDonught,
                options: {
                  responsive: true,
                  plugins: {
                    legend: {
                      position: 'top',
                    },
                    title: {
                      display: true,
                      text: 'Classification tests output'
                    }
                  }
                }
              });

              document.getElementById('accuratePredictions').innerText = accurate;
              document.getElementById('falsePositive').innerText = falsePositive;
              document.getElementById('falseNegative').innerText = falseNegative;

              document.getElementById('percOfAccurate').innerText = accurate + " of " + totalPrediction + " (" + accuratePerc.toFixed(2) +"%)";
              document.getElementById('percOfFalsePositive').innerText = falsePositive + " of " + totalPrediction + " (" + fPositivePerc.toFixed(2) +"%)";
              document.getElementById('percOfFalseNegative').innerText = falseNegative + " of " + totalPrediction + " (" + fNegativePerc.toFixed(2) +"%)";

            </script>

            {% elif Model.modelType == 'regression' %}
            <div class="row">
              <div class="col-lg-12">
                <canvas id="myChart" width="200" height="50"></canvas>
              </div>
            </div>

            <script>

              const footer = (tooltipItems) => {
                let dif = 0;
                dif = tooltipItems[1].parsed.y - tooltipItems[0].parsed.y
                return 'Gap: ' + dif.toFixed(2) + ' {{Model.pVariableUnits}}';
              };

              const ctx = document.getElementById('myChart').getContext('2d');

              labelsData = []

              {% if (Model.realTestList) | length < 150 %}
                {% for i in range(0,(Model.realTestList)| length) %}
                  labelsData.push({{i}})
                {% endfor %}
              {% else %}
                {% for i in range(0,150) %}
                  labelsData.push({{i}})
                {% endfor %}
              {% endif %}

              const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labelsData,
                    datasets: [{
                        label: 'real',
                        fill: false,
                        data: [
                          {% for val in Model.realTestList %}
                            {{val}},
                          {% endfor %}
                        ],
                        borderColor: '#2c3e50',
                        borderWidth: 2,
                        pointStyle: 'circle',
                        pointRadius: 3,
                        pointHoverRadius: 7
                    },{
                        label: 'prediction',
                        type: 'line',
                        fill: true,
                        data: [
                          {% for val in Model.predTestList %}
                            {{val}},
                          {% endfor %}
                        ],
                        borderColor: '#22bfa0',
                        backgroundColor: '#22bfa010',
                        //backgroundColor: '#eafbf788',
                        borderWidth: 2,
                        pointStyle: 'rectRounded',
                        pointRadius: 3,
                        pointHoverRadius: 7,
                        borderDash: [3, 3],
                    }]
                },
                options: {
                  interaction: {
                    intersect: false,
                    mode: 'index',
                  },
                  plugins: {
                    title: {
                      display: true,
                      text: '{{Model.description}}',
                    },
                    tooltip: {
                      usePointStyle: true,
                      callbacks: {
                        footer: footer,
                      }
                    }
                  },
                  responsive: true,
                  scales: {
                    x: {
                      display: true,
                      title: {
                        display: true,
                        text: "Prediction test number",
                      }  
                    },
                    y: {
                      display: true,
                      title: {
                        display: true,
                        text: "{{Model.pVariable}} ({{Model.pVariableUnits}})",
                      } 
                    }
                  }
                }
              });

              // End

            </script>

            {% elif Model.modelType == 'detection' %}
            <div class="row">
              <div class="col-lg-4">
                <div class="input-group input-group-sm">
                    <label class="input-group-text" for="selectedXVariable"><i class="fas fa-x"></i></label>
                    <select class="form-select" id="selectedXVariable">
                        <option selected>Choose one variable...</option>
                        {% for title in Model.realTestList %}
                            <option value={{loop.index-1}}>{{title}}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="col-lg-4">
                  <div class="input-group input-group-sm">
                      <label class="input-group-text" for="selectedYVariable"><i class="fas fa-y"></i></label>
                      <select class="form-select" id="selectedYVariable">
                          <option selected>Choose one variable...</option>
                          {% for title in Model.realTestList %}
                              <option value={{loop.index-1}}>{{title}}</option>
                          {% endfor %}
                      </select>
                  </div>  
              </div>

              <div class="col-lg-1">
                <div class="input-group input-group-sm">
                    <label class="input-group-text" for="colorInput"><i class="fas fa-tint"></i></label>
                    <input type="color" class="form-control form-control-color" id="colorInput" value="#18bc9c" title="Ok color">
                  </div>                
              </div>

              <div class="col-lg-1">
                  <div class="input-group input-group-sm">
                      <label class="input-group-text" for="colorInput2"><i class="fas fa-tint"></i></label>
                      <input type="color" class="form-control form-control-color" id="colorInput2" value="#f50056" title="Annomaly color">
                  </div>              
              </div>

              <div class="col-lg-2">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="dropdown" onclick="UpdateChart()"><i class="fas fa-refresh"></i> Update</button>
                </div>
              </div>

            </div>

            <!-- SCATTER CHART -->
            <div class="row">
              <div class="col-lg-12">
                <canvas id="myDetectionChart" style="width:100%;height:100%;min-height:500px;"></canvas>
              </div>
            </div>

            <script>
              // print(predTest, file=sys.stderr)
              var tests = []
              var results = []
              var score = []

              //console.log({{Model.realTestList[]}})
              {% for row in rawdata %}
                tests.push({{row|tojson}})
                // console.log("Data Prediction: " + {{row}})       
              {% endfor %}

              {% for i in range(0,(Model.predTestList)| length ) %}
                results.push({{Model.predTestList[i]}})
                score.push({{Model.predTestScore[i]}})
                // console.log("Data Prediction Score: " + {{Model.predTestScore[i]}})
              {% endfor %}

              // Setup the data 
              var xyValues = [{x:0, y:0}]
              var colorPoints = ['#91d754']
              var scorePoints = [1]

              // Update the labels
              var labelX = document.getElementById('selectedXVariable').options[document.getElementById("selectedXVariable").selectedIndex ].text;
              var labelY = document.getElementById('selectedYVariable').options[document.getElementById("selectedYVariable").selectedIndex ].text;

              const ctx3 = document.getElementById('myDetectionChart').getContext('2d');

              const myScatter = new Chart("myDetectionChart", {                           
                data: {
                  datasets: [
                    {
                      label: 'Scatter plot',
                      type: "scatter",
                      //pointRadius: scorePoints,
                      borderWidth: 2,
                      //pointBackgroundColor: "#ffffff",
                      pointsBorderColor: colorPoints,
                      borderColor: colorPoints,
                      data: xyValues
                  }]
                },
                options:{
                    plugins:{
                        legend: {
                            display: false
                        },
                        zoom:{
                            zoom:{
                                wheel:{
                                    enabled: true,
                                    modifierKey: 'ctrl',
                                },
                                drag:{
                                    enabled: true,
                                    modifierKey: 'ctrl',
                                },
                                pinch:{
                                    enabled: true
                                },
                                mode: 'xy',
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: (context) => {
                                    const newLabel = [
                                        `X (${labelX}): ${context.parsed.x}`,
                                        `Y (${labelY}): ${context.parsed.y}`,
                                        `Anomaly detected: ${context.raw.z}`,
                                        `Anomaly score: ${context.raw.score}`,
                                    ]
                                    return newLabel
                                }
                            }
                        },
                    },   
                    responsive: true,
                    scales: {
                        x: {
                            type: 'linear',
                            title: {
                                display: true,
                                text: labelX,
                            }
                        },
                        y: {
                            type: 'linear',
                            title: {
                                display: true,
                                text: labelY,
                            },
                        },
                    }
                }
            });

            function UpdateChart(){

              myScatter.resetZoom(mode='none')

              const x_variable = document.getElementById('selectedXVariable').value;
              const y_variable = document.getElementById('selectedYVariable').value;

              const sel_color = document.getElementById('colorInput').value;
              const sel_color2 = document.getElementById('colorInput2').value;

              if (x_variable=="Choose one variable..."){
                  alert("Please select one variable to be assigned to X axis.");
                  return
              }
                  
              if (y_variable=="Choose one variable...")
              {
                  alert("Please select one variable to be assigned to Y axis.");
                  return
              }

              xyValues.length = 0
              colorPoints.length = 0
              scorePoints.length = 0
              pos= 0;

              tests.forEach(line => {
                  //console.log("X:", line[x_variable], "Y:", line[y_variable])
                  state = "No"
                  if (results[pos] == -1) {
                    state = "Yes"
                  }

                  xyValues.push({
                      'x': line[x_variable],
                      'y': line[y_variable],
                      'z': state,
                      'score': score[pos],
                  })
                  
                  // Verificar a variavel de cor (se é ou nao anomaly)
                  if(results[pos] == -1){
                    colorPoints.push(sel_color2)
                  } else {
                    colorPoints.push(sel_color)
                  }

                  // Adicionar o score (Escalar de -1 a 1)
                  valSize= 1
                  if (score[pos] > 0){
                    //valSize = ((score[pos]-1)/2)*1
                    valSize = 2;
                  } else {
                    //valSize = ((score[pos]-1)/2)*-1
                    valSize = 4;
                  }
                  
                  scorePoints.push(valSize)

                  pos = pos+1
     
              });

              //console.log(xyValues)
              labelX = document.getElementById('selectedXVariable').options[document.getElementById("selectedXVariable").selectedIndex ].text;
              labelY = document.getElementById('selectedYVariable').options[document.getElementById("selectedYVariable").selectedIndex ].text;

              myScatter.options.scales.y.title.text = labelY
              myScatter.options.scales.x.title.text = labelX

              myScatter.data.datasets[0].data = xyValues;
              myScatter.data.datasets[0].pointBackgroundColor = '#ffffffbb';
              myScatter.data.datasets[0].pointsBorderColor = colorPoints;
              myScatter.data.datasets[0].pointRadius = scorePoints;;
              myScatter.options.elements.point.borderColor = colorPoints;

              // Update the chart
              myScatter.update()
              }

            </script>

            {% endif %}

            <!-- End of chart -->

            <hr>

            <div>&MediumSpace;</div>

            <div class="form-group row">
              <!-- UUID field -->
              <label for="UUID" class="col-sm-2 col-form-label">Model UUID</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="UUID" value="{{Model.uuid}}" disabled>
              </div>

              <!-- Model Name field -->
              <label for="ModelName" class="col-sm-2 col-form-label">Model name</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="ModelName" value="{{Model.name}}" disabled>
              </div>
              
            </div>

            <div>&MediumSpace;</div>

            <div class="form-group row">

              <!-- Description field -->
              <label for="Description" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control text-left" id="Description" disabled>{{Model.description}}</textarea>
              </div>
              
            </div>

            {% if Model.keywords|length > 0 %}

            <div>&MediumSpace;</div>

            <div class="form-group row">

              <!-- Keywords field -->
              <label for="keywords" class="col-sm-2 col-form-label">Keywords</label>
              <div class="col-sm-10">
                {% for keyword in Model.keywords %}
                <span class="badge rounded-pill bg-success">{{keyword}}</span>
                {% endfor %}
              </div>
              
            </div>

            {% endif %}

            <div>&MediumSpace;</div>
                
            <div class="form-group row">  
              <!-- Algorithm -->
              <label for="Algorithm" class="col-sm-2 col-form-label">Algorithm type</label>
              <div class="col-sm-10">
                <input type="text" class="form-control text-left" id="Algorithm" value="{{Model.modelType}}" disabled>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="column-md-12">
                  <div class="timeline">

                    {% if "Pipeline" in (Model.model)|string() %}
                      <div class="timeline-item">
                        <i class="fas fa-list timeline-icon"></i>
                        <div class="timeline-content">
                          <div class="timeline-date">Pipeline</div>
                        </div>
                      </div>
    
                      {% for step in Model.model %}
                        <div class="timeline-item">
                          {% if "StandardScaler" in (step)|string() %}
                            <i class="fas fa-scale-balanced timeline-icon"></i>
                          {% elif "Feature" in (step)|string() %}
                            <i class="fas fa-filter timeline-icon"></i>
                          {% elif "SelectK" in (step)|string() %}
                            <i class="fas fa-filter timeline-icon"></i>
                          {% else %}
                            <i class="fas fa-robot timeline-icon"></i>
                          {% endif %}
                          <div class="timeline-content">
                              <div class="timeline-date">{{step}}</div>
                              <!--div class="timeline-title">Job #1</div>
                              <div class="timeline-description">
                                  Description for job #1 goes here.
                              </div-->
                          </div>
                        </div>
                      {% endfor %}

                    {% else %}
                      <div class="timeline-item">
                        <i class="fas fa-robot timeline-icon"></i>
                        <div class="timeline-content">
                            <div class="timeline-date">{{Model.model}}</div>
                            <!--div class="timeline-title">Job #1</div>
                            <div class="timeline-description">
                                Description for job #1 goes here.
                            </div-->
                        </div>
                      </div>  
                    {% endif %} 
                </div>
                </div>
              </div>
            </div>

            <div>&MediumSpace;</div>

            {% if Model.modelType != 'detection' %}

            <div class="form-group row">
              <!-- UUID field -->
              <label for="pVariable" class="col-sm-2 col-form-label">Prediction variable</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="pVariable" value="{{Model.pVariable}}" disabled>
              </div>

              <!-- Model Name field -->
              <label for="pVariableUnits" class="col-sm-2 col-form-label">Variable units</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="pVariableUnits" value="{{Model.pVariableUnits}}" disabled>
              </div>           
            </div>

            <hr>

            <!-- Show the equation (if it's linear regression) -->
            {% if equation != "" %}

              <div class="form-group row">
                <!-- Equation field -->
                <label for="pEquation" class="col-sm-2 col-form-label">Model equation</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control text-left" id="pEquations" disabled>{{equation}}</textarea>
                </div>    
              </div>

              <hr>
            {% endif %}
            
            <div class="form-group row">

              <!-- RMSE field -->
              <label for="RMSE" class="col-sm-2 col-form-label">RMSE score</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="RMSE" value="{{ '%0.2f'|format(Model.RMSE)}} {{Model.pVariableUnits}}" disabled>
              </div>

              <!-- R2 field -->
              <label for="R2" class="col-sm-2 col-form-label">R² / accuracy</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-left" id="R2" value="{{'%0.3f'|format(Model.R2)}}" disabled>
              </div> 

            </div>

            {% endif %}

            <hr>

            <div class="form-group row">  
              <!-- Model path -->
              <label for="Path" class="col-sm-2 col-form-label">Model stored path</label>
              <div class="col-sm-10">
                <input type="text" class="form-control text-left" id="Path" value="{{Model.modelPath}}" disabled></input>
              </div>                
            </div>

            <hr>

            Model features (Input variables):
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Feature name</th>
                    <th scope="col">Units</th>
                    <th scope="col">Variable type</th>
                    <th scope="col">Trained Min</th>
                    <th scope="col">Trained Max</th>
                    <th scope="col">Importance for model</th>
                  </tr>
                </thead>
                <tbody>
                  {% for feature in Model.variables %}
                  <tr>
                    <td style="vertical-align: middle;">{{feature.name}}</td>
                    <td style="vertical-align: middle;">{{feature.unit}}</td>

                    {% if "int64" in feature.varType %}
                    <td style="vertical-align: middle;"> Integer</td>
                    <td style="vertical-align: middle;">{{'%0.0f'|format(feature.describe['min'])}}</td>
                    <td style="vertical-align: middle;">{{'%0.0f'|format(feature.describe['max'])}}</td>

                    {% elif "float64" in feature.varType %}
                    <td style="vertical-align: middle;"> Decimal</td>
                    <td style="vertical-align: middle;">{{'%0.2f'|format(feature.describe['min'])}}</td>
                    <td style="vertical-align: middle;">{{'%0.2f'|format(feature.describe['max'])}}</td>

                    {% elif "uint8" in feature.varType %}
                    <td style="vertical-align: middle;"> Boolean</td>
                    <td style="vertical-align: middle;">{{'%0.0f'|format(feature.describe['min'])}}</td>
                    <td style="vertical-align: middle;">{{'%0.0f'|format(feature.describe['max'])}}</td>

                    {% endif %}


                    <td data-toggle="tooltip" title="Importance value: {{'%0.4f'|format(feature.importance)}}">
                    {% if feature.importance != 0 %}
                      <!--td>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" aria-valuemin="-100" aria-valuemax="100" aria-valuenow="{{feature.importance*100}}" style="width:{{ '%+0.1f'|format(feature.importance * 100)}}%">{{ '%+0.1f'|format(feature.importance * 100)}}%</div>
                        </div>
                      </td-->
                      {% if feature.importance * 100 <= 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 10 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 20 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 30 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 40 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 50 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 60 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 70 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 80 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 <= 90 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                      {% elif feature.importance * 100 > 90 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                      {% endif %}
                    {% else %}
                    ✖️ Not defined
                    {% endif %}

                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>

            <div>&MediumSpace;</div>

            <!-- Save data button -->
            <!--div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary disabled"><i class="fas fa-save"></i> Save model info</button>
                </div>
            </div-->
            
          </div>
        </div>    
      </div>

      <!-- TODO: Add model details here... -->
      {% else %}
      <h5 class="alert alert-primary ms-4 me-4">Model not found</h5>
      {% endif %}  
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
{% endblock %}