{% extends 'base_clean.html' %}

{% block content %}

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../static/img/deep-learning-digitops.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action="{{url_for('Login')}}" method="post">
        <input class="form-control fadeIn second" type="text" id="username" name="username" placeholder="username">
        <input class="form-control fadeIn third" type="password" id="pwd" name="pswd" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>

{% endblock %}