{% extends 'base.html' %}

{% block title %} Train LOF {% endblock %}

{% block content %}
  <h3 class="m-4">Train new model - LOF (Local Outlier Factor) algorithm</h3>
  <div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg"></i> Model parameters
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-horizontal">

                        <div class="form-group row">

                            <!-- Name -->
                            <label for="name" class="col-lg-1 col-form-label">Name</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control text-left" id="name" name="name" required></input>
                            </div>

                            <!-- Description -->
                            <label for="description" class="col-lg-1 col-form-label">Description</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control text-left" id="description" name="description" required></input>
                            </div>
                        </div>

                        <div>&MediumSpace;</div>

                        <div class="form-group row">

                            <!-- Keywords -->
                            <label for="keywords" class="col-lg-1 col-form-label">Keywords</label>
                            <div class="col-lg-11">
                                <input type="text" class="form-control text-left" id="keywords" name="keywords"></input>
                            </div>

                        </div>

                        <div>&MediumSpace;</div>

                        <div class="accordion accordion-flush" id="accordionParameters">
                            <!-- Basic Model parameters -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h5><i class="fa-solid fa-gear"></i> Basic parameters</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionParameters">
                                    <div class="accordion-body">

                                        <div class="form-group row">
                                            <!-- Contamination -->
                                            <label for="neighbors" class="col-lg-1 col-form-label">Contamination</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Contamination" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="The amount of contamination of the data set, i.e. the proportion of outliers in the data set. When fitting this is used to define the threshold on the scores of the samples"><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <input type="number" class="form-control text-left" id="contamination" name="contamination" value="0.01" step="0.01" min="0" max="0.5" required></input>
                                                </div>         
                                            </div>
                                        </div>


                                        <div>&MediumSpace;</div>
    
                                        <div class="form-group row">
                                            <!-- Neighbors -->
                                            <label for="neighbors" class="col-lg-1 col-form-label">Neigbours</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Neigbours (k value)" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="The optimal K value usually found is the square root of N, where N is the total number of samples. You must be aware of the outliers."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <input type="number" class="form-control text-left" id="neighbors" name="neighbors" value="5" required></input>
                                                </div>         
                                            </div>
                
                                            <label for="weights" class="col-lg-1 col-form-label">Weights</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Weights" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="The basic nearest neighbors regression uses uniform weights: that is, each point in the local neighborhood contributes uniformly to the classification of a query point. Under some circumstances, it can be advantageous to weight points such that nearby points contribute more to the regression than faraway points. This can be accomplished through the weights keyword. The default value, weights = 'uniform', assigns equal weights to all points. weights = 'distance' assigns weights proportional to the inverse of the distance from the query point."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <select class="form-select form-select-sm" name="weights" id="weights">
                                                        <option selected value="uniform">Uniform</option>
                                                        <option value="distance">Distance</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>

                                        <div>&MediumSpace;</div>

                                        <div class="form-group-row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="novelty" name="novelty" checked disabled>
                                                <label class="form-check-label">Novelty</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                             
                            <!-- Advanced Model parameters -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingAdvanced">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                                        <h5><i class="fa-solid fa-wand-magic-sparkles"></i> Advanced parameters</h5>
                                    </button>
                                </h2>
                                <div id="collapseAdvanced" class="accordion-collapse collapse" aria-labelledby="headingAdvanced" data-bs-parent="#accordionParameters">
                                    <div class="accordion-body">

                                        <div class="form-group row">
                                            <!-- algorithm -->
                                            <label for="leaf" class="col-lg-1 col-form-label">Leaf size</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Leaf size" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="For small sample sizes a brute force search can be more efficient than a tree-based query. This fact is accounted for in the ball tree and KD tree by internally switching to brute force searches within leaf nodes. The level of this switch can be specified with the parameter leaf_size."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <input type="number" class="form-control text-left" id="leaf" name="leaf" value="30" step="1" required></input>
                                                </div>
                                            </div>
                
                                            <label for="algorithm" class="col-lg-1 col-form-label">Algorithm</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Algorithm" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="The optimal algorithm for a given dataset is a complicated choice, and depends on a number of factors. For more information please check the on the botom of the page."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <select class="form-select form-select-sm" name="algorithm" id="algorithm">
                                                        <option value="auto">Auto</option>
                                                        <option value="ball_tree">Ball Tree</option>
                                                        <option value="kd_tree">KD Tree</option>
                                                        <option value="brute">Brute</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>

                                        <div>&MediumSpace;</div>
                                        
                                        <div class="form-group row">
                                            <!-- P2 -->
                                            <label for="p2" class="col-lg-1 col-form-label">P2</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="P2" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Power parameter for the Minkowski metric. When p = 1, this is equivalent to using manhattan_distance (l1), and euclidean_distance (l2) for p = 2. For arbitrary p, minkowski_distance (l_p) is used."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <input type="number" class="form-control text-left" id="p2" name="p2" value="2" required min="1" max="2"></input>
                                                </div>         
                                            </div>

                                            <!-- metric -->
                                            <label for="metric" class="col-lg-1 col-form-label">Metric</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Metric" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Metric to use for distance computation. Default is “minkowski”, which results in the standard Euclidean distance when p = 2."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <select class="form-select form-select-sm" name="metric" id="metric">
                                                        <option selected value="minkowski">minkowski</option>
                                                    </select>
                                                </div>
                                            </div> 

                                        </div>
                
                                        <div>&MediumSpace;</div>
                        
                                        <div class="form-group row">
                                            <!-- metric params -->
                                            <label for="algorithm" class="col-lg-1 col-form-label">Metric param</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Metric params" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Additional keyword arguments for the metric function."><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <select class="form-select form-select-sm" name="metric_params" id="metric_params">
                                                        <option selected value="none">None</option>
                                                    </select>
                                                </div>
                                            </div> 
                
                                            <label for="n_jobs" class="col-lg-1 col-form-label">Number of jobs</label>
                                            <div class="col-lg-5">
                                                <div class="input-group">
                                                    <span class="input-group-text"><a href="#" title="Number of jobs" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="The number of parallel jobs to run for neighbors search. None means 1 unless in a joblib.parallel_backend context. -1 means using all processors. "><i class="fa-solid fa-circle-info"></i></a></span>
                                                    <select class="form-select form-select-sm" name="n_jobs" id="n_jobs">
                                                        <option value="-1">All processors</option>
                                                        <option selected value="none">One processor</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Other options -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOthers">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
                                        <h5><i class="fa-solid fa-up-right-and-down-left-from-center"></i> Scaling and feature reduction</h5>
                                    </button>
                                </h2>
                                <div id="collapseOthers" class="accordion-collapse collapse" aria-labelledby="headingOthers" data-bs-parent="#accordionParameters">
                                    <div class="accordion-body">
                                        <div class="form-group-row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="scaling" name="scaling" checked disabled>
                                                <label class="form-check-label">Use standard scaler for features.</label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr>

                        <div>&MediumSpace;</div>
                
                        <div class="form-group row">
                            <!-- Test size -->
                            <label for="testsize" class="col-lg-1 col-form-label">Test size</label>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-text"><a href="#" title="Test dataset size" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Define the amount of data used for testing the model. (% of the total data)"><i class="fa-solid fa-circle-info"></i></a></span>
                                    <input type="number" class="form-control text-left" id="testsize" name="testsize" value="33" step="1" min="1" max="90"></input>
                                    <span class="input-group-text">%</span>
                                </div>         
                            </div>
                        </div>

                        <div>&MediumSpace;</div>

                        <hr>

                        <div>&MediumSpace;</div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-play"></i> Train model</button>
                            </div>
                        </div>
        
                    </div>

                </form>
                    
            </div>
            <div class="card-footer">
                <div class="mt-4 p-5 bg-primary text-white rounded">
                    <h3><i class="fa-solid fa-info-circle fa-lg"></i> What is LOF?</h3>
                    <blockquote class="blockquote">
                        <p>In anomaly detection, the local outlier factor (LOF) is an algorithm proposed by Markus M. Breunig, Hans-Peter Kriegel, Raymond T. Ng and Jörg Sander in 2000 for finding anomalous data points by measuring the local deviation of a given data point with respect to its neighbours.:
                            <br>
                            <ul>
                                <li>The local outlier factor is based on a concept of a local density, where locality is given by k nearest neighbors, whose distance is used to estimate the density. By comparing the local density of an object to the local densities of its neighbors, one can identify regions of similar density, and points that have a substantially lower density than their neighbors. These are considered to be outliers.</li>
                                <li>The local density is estimated by the typical distance at which a point can be "reached" from its neighbors. The definition of "reachability distance" used in LOF is an additional measure to produce more stable results within clusters.</li>
                              </ul>
                            </p>
                        <footer class="blockquote-footer">From Wikipedia website</footer>
                        <a href="https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.LocalOutlierFactor.html" target="_blank" rel="noopener noreferrer"><i class="fas fa-graduation-cap"></i> Learn more at scikit learn - LocalOutlierFactor webpage</a>
                      </blockquote>
                </div>
            </div>
        </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="../static/js/validation.js"></script>
{% endblock %}