{% extends 'base.html' %}

{% block title %} Sandbox {% endblock %}

{% block content %}
  <h3 class="m-4" id="tr_available_models">All available models</h3>
  <div class="row">
    <div class="col-12">
      <div class="card bg-light ms-4 me-4 mb-4">
        <div class="card-body">
          {% if role.value <= 3 %}
            <a class="btn btn-success" type="button" href="{{ url_for('datastudio')}}" id="tour-index-datastudio"><i class="fas fa-database"></i><span id="tr_sp_data_studio"> Data studio</span></a>
            <a class="btn btn-success" type="button" href="{{ url_for('importFile')}}" id="tour-index-importmodel"><i class="fas fa-file-import"></i><span id="tr_sp_import_model"> Import existing model</span></a>
            {% if config.enableAutomation%}
            <a class="btn btn-success" type="button" href="{{ url_for('datacollector')}}" id="tour-index-datacollector"><i class="fas fa-plug"></i><span id="tr_sp_datacollector"> Data collector</span></a>
            <a class="btn btn-success" type="button" href="{{ url_for('refresh')}}" id="tour-index-refresh"><i class="fas fa-rotate"></i><span id="tr_sp_refresh"> Refresh</span></a>
            {% endif %}
          {% else %}
            <a class="btn btn-success disabled" type="button" href="#" id="tour-index-datastudio"><i class="fas fa-database"></i><span id="tr_sp_data_studio"> Data studio</span></a>
            <a class="btn btn-success disabled" type="button" href="#" id="tour-index-importmodel"><i class="fas fa-file-import"></i><span id="tr_sp_import_model"> Import existing model</span></a>
            <a class="btn btn-success disabled" type="button" href="#" id="tour-index-datacollector"><i class="fas fa-plug"></i><span id="tr_sp_datacollector"> Data collector</span></a>
            <a class="btn btn-success" type="button" href="{{ url_for('refresh')}}" id="tour-index-refresh"><i class="fas fa-rotate"></i><span id="tr_sp_refresh"> Refresh</span></a>
          {% endif %}
        </div>        
      </div>     
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          {% if models %}
          <div class="card bg-light ms-4 me-4 mb-4">
              <div class="card-header">
                  <i class="fa-solid fa-list fa-lg"></i> <span id="tr_sp_model_list">Models list</span>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <div class="table-responsive">
                      <table class="table table-hover" id="tour-index-modelslist">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col" id="tr_model_name">Model name</th>
                              <th scope="col" id="tr_model_description">Model description</th>
                              <th scope="col" id="tr_model_keywords">Keywords</th>
                              <th scope="col" id="tr_model_train_datetime">Train datetime</th>
                              <th scope="col" id="tr_model_rmse">RMSE</th>
                              <th scope="col" id="tr_model_r2">R² / Accuracy</th>
                              <th scope="col" id="tr_model_actions">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for model in models %}
                              <tr>
                                  {% if model.modelVersion == mversion %}
                                    <td style="vertical-align: middle;"></td>
                                  {% else %}
                                    <td style="vertical-align: middle;" data-bs-toggle="tooltip" data-bs-html="true" title='This model was trained in other software version. Some functionalities may not be available.'>⚠️</td>
                                  {% endif %}
                                  {% if model.modelType != "detection" %}
                                    {% if model.flow.service is defined %}
                                      {% if model.flow.stop == false %}
                                      <td style="vertical-align: middle;" data-bs-toggle="tooltip" data-bs-html="true" title='This automation flow is running.'><i class="fa-solid fa-circle-play" style="color: #00A87E"></i></td>
                                      {% else %}
                                      <td style="vertical-align: middle;" data-bs-toggle="tooltip" data-bs-html="true" title='This automation flow is not running.'><i class="fa-solid fa-circle-pause" style="color: #005C44"></i></td>
                                      {% endif %}
                                    {% else %}
                                      <td style="vertical-align: middle;"></td>
                                    {% endif %}
                                    {% else %}
                                    <td style="vertical-align: middle;" data-bs-toggle="tooltip" data-bs-html="true" title='This automation flow does not exist.'><i class="fa-solid fa-circle-stop" style="color: #005C44"></i></td>
                                  {% endif %}
                                  <td style="vertical-align: middle;">{{model.name}}</td>
                                  <td style="vertical-align: middle;">{{model.description}}</td>
                                  {% if model.keywords|length > 0 %}
                                  <td style="vertical-align: middle;">
                                    {% for keyword in model.keywords %}
                                    <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#viewKeyword" id="tour-index-viewkeyword"><span class="badge rounded-pill bg-success">{{keyword}}</span></a>
                                    {% endfor %}
                                  </td>
                                  {% else %}
                                  <td style="vertical-align: middle;"><span class="badge rounded-pill bg-warning"><span id="tr_not_defined">Not defined</span></span></td>
                                  {% endif %}
                                  <td style="vertical-align: middle;">{{model.datetime.strftime('%d/%m/%Y %H:%M')}}</td>

                                  {% if model.modelType != "detection" %}
                                  <td style="vertical-align: middle;" data-toggle="tooltip" title="Mean squared error: Lower is better" id="tour-index-rmse">{{ '%0.1f'|format(model.RMSE)}} {{model.pVariableUnits}}</td>
                                  <td style="vertical-align: middle;" id="tour-index-r2">
                                    <div class="progress">
                                      {% if model.R2 * 100 > 90 %}
                                      <div class="progress-bar bg-success" style="width:{{ '%0.1f'|format(model.R2 * 100)}}%">{{ '%0.1f'|format(model.R2 * 100)}}%</div>
                                      {% elif model.R2 * 100 > 80 %}
                                      <div class="progress-bar bg-warning" style="width:{{ '%0.1f'|format(model.R2 * 100)}}%">{{ '%0.1f'|format(model.R2 * 100)}}%</div>
                                      {% else %}
                                      <div class="progress-bar bg-danger" style="width:{{ '%0.1f'|format(model.R2 * 100)}}%">{{ '%0.1f'|format(model.R2 * 100)}}%</div>
                                      {% endif %}  
                                    </div>
                                  </td>
                                  {% else %}
                                  <td style="vertical-align: middle;" data-toggle="tooltip" title="Mean squared error: Lower is better" id="tour-index-rmse"></td>
                                  <td style="vertical-align: middle;" id="tour-index-r2">
                                    <div class="progress">
                                      <div class="progress-bar bg-secondary" style="width:100%"><span id="tr_not_defined">Not defined</span></div>
                                    </div> 
                                  </td>
                                  {% endif %}
                                  
                                  <td style="vertical-align: middle;">
                                    <div class="btn-group" role="group" aria-label="Action commands" id="tour-index-commands">
                                        <a href="{{ url_for('predict', uuid=model.uuid)}}" type="button" class="btn btn-success" data-toggle="tooltip" title="Predict using model" id="tour-index-predict"><i class="fa fa-calculator"></i></a>
                                        <a href="{{ url_for('batch', uuid=model.uuid)}}" type="button" class="btn btn-success" data-toggle="tooltip" title="Batch calculation" id="tour-index-batch-predict"><i class="fa fa-chart-line"></i></a>
                                        <a href="{{ url_for('details', uuid=model.uuid)}}" type="button" class="btn btn-primary" data-toggle="tooltip" title="Model information" id="tour-index-info"><i class="fa fa-info-circle"></i></a>
                                        {% if model.modelType != "detection" %}
                                          {% if config.enableAutomation %}
                                          <a href="{{ url_for('automation', uuid=model.uuid)}}" type="button" class="btn btn-warning" data-toggle="tooltip" title="Model automation" id="tour-index-automation"><i class="fa fa-robot"></i></a>
                                          {% endif %}
                                        {% else %}
                                          {% if config.enableAutomation %}
                                          <a href="#" type="button" class="btn btn-warning disabled" data-toggle="tooltip" title="Model automation" id="tour-index-automation"><i class="fa fa-robot"></i></a>
                                          {% endif %}
                                        {% endif %}

                                        {% if role.value <= 3 %}
                                          <a href="{{ url_for('download', uuid=model.uuid)}}" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Download model file" id="tour-index-download"><i class="fa fa-download"></i></a>
                                          <a href="#" type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete model file" data-bs-toggle="modal" data-bs-target="#deleteConfirmation{{model.uuid}}" id="tour-index-delete"><i class="fa fa-trash"></i></a>
                                        {% else %}
                                          <a href="{{ url_for('download', uuid=model.uuid)}}" type="button" class="btn btn-secondary disabled" data-toggle="tooltip" title="Download model file" id="tour-index-download"><i class="fa fa-download"></i></a>
                                          <a href="#" type="button" class="btn btn-danger disabled" data-toggle="tooltip" title="Delete model file" data-bs-toggle="modal" data-bs-target="#deleteConfirmation{{model.uuid}}" id="tour-index-delete"><i class="fa fa-trash"></i></a>
                                        {% endif %}

                                    </div>
                                  </td>
                              <tr>
                              
                              <!-- Model delete confirmation Modal -->
                              <div class="modal fade" id="deleteConfirmation{{model.uuid}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="deleteConfirmationLabel">Do you really want to delete this model?</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <h5>{{model.name}}</h5>
                                      <h6>{{model.description}}</h4>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <a href="{{ url_for('delete', uuid=model.uuid)}}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              {% endfor %}
                          </tbody>
                        </table>
                  </div>
                </p>
              </div>
            </div>
            {% else %}
              <h5 class="alert alert-primary ms-4 me-4">No trained models available</h5>
          {% endif %}   
      </div>
  </div>

  <!-- View models with same keyword -->
  <div class="modal fade" id="viewKeyword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewKeywordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewKeywordLabel">Models with same keyword...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Feature under construction...</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  

  <script src="../static/js/intro.min.js"></script>  
  <script src="../static/js/tour-index.js"></script>

{% endblock %}
