{% extends 'base.html' %}

{% block content %}
  <h3 class="m-4">Train new model</h3>
  <div class="row">
    <div class="col-12">
        <!-- Import dataset or use dummy data for training purposes -->
        {% if not uploaded %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                Load real datasets for real scenarios:
                <form action="/uploader/" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="file" class="col-sm-1 col-form-label">Select file</label>
                        <div class="col-sm-5" id="tour-train-import-file">
                            <input type="file" class="form-control text-left" name = "file" id="file" accept=".csv">
                        </div>

                        <label for="sep" class="col-sm-1 col-form-label">Separator</label>
                        <div class="col-sm-1" id="tour-train-import-separator">
                            <input type="text" class="form-control text-left" name = "sep" id="sep" value=";">
                        </div>

                        <!--label for="sep" class="col-sm-1 col-form-label">Separator</label>
                        <div class="col-sm-1">
                            <select class="form-select form-select-sm" name="sep" id="sep">
                                <option value=";">Semicolon</option>
                                <option value=",">Comma</option>
                            </select>
                        </div-->

                        <label for="dec" class="col-sm-1 col-form-label">Decimal</label>
                        <div class="col-sm-1" id="tour-train-import-decimal">
                            <input type="text" class="form-control text-left" name = "dec" id="dec" value=",">
                        </div>

                        <!--label for="dec" class="col-sm-1 col-form-label">Decimal</label>
                        <div class="col-sm-1">
                            <select class="form-select form-select-sm" name="dec" id="dec">
                                <option value=",">Comma</option>
                                <option value=".">Point</option>
                            </select>
                        </div-->

                        <div class="col-sm-2 text-center">
                            <button type="submit" class="btn btn-primary" id="tour-train-import-parse"><i class="fas fa-file-import"></i> Parse CSV dataset</button>
                        </div>

                    </div>
                </form>
            </div> 
            <div class="card-footer">
                <p>Or load dummy datasets for training purposes:</p>

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='iris')}}"><i class="fas fa-download"></i> Iris dataset</a>
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='diabetes')}}"><i class="fas fa-download"></i> Diabetes dataset</a>
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='digits')}}"><i class="fas fa-download"></i> Digits dataset</a>
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='linnerud')}}"><i class="fas fa-download"></i> Linnerud dataset</a>
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='wine')}}"><i class="fas fa-download"></i> Wine dataset</a>
                    <a class="btn btn-outline-primary" type="button" href="{{ url_for('loaddummy', dataset='bcancer')}}"><i class="fas fa-download"></i> Breast Cancer dataset</a>
                </div>
            </div>    
        </div>
        <!-- When data is already imported -->
        {% else %}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                
                <!-- Functionalities buttons -->
                <div class="d-flex flex-row gap-3">

                    <a class="btn btn-warning" type="button" href="{{ url_for('cleardataset')}}" id="tour-train-import-delete-dataset"><i class="fas fa-eraser"></i> Delete dataset</a>

                    <form method="post">
                        <input hidden type="text" name="mod" value="clearnull">
                        <input hidden type="text" name="column" value="all">
                        <!--a class="btn btn-primary" type="submit"><i class="fas fa-bath"></i> Clear nulls</a-->
                        <button type="submit" class="btn btn-primary" id="tour-train-import-clear-nulls"><i class="fas fa-bath"></i> Clear nulls</button>
                    </form>

                    <div class="dropdown" id="tour-train-import-regressions">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-chart-line"></i>
                            Regression models
                          </button>
                        {% if dependend == "" %} 
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" type="button" href="#">Linear regression</a></li>
                            <li><a class="dropdown-item disabled" type="button" href="#">K Nearest Neighbors regressor</a></li>
                            <li><a class="dropdown-item disabled" type="button" href="#">Support Vector Machine regression</a></li>
                            <li><a class="dropdown-item disabled" type="button" href="#">Decision tree regressor</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item disabled" type="button" href="#">Neural Network MLP regressor</a></li>
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Stochastic Gradient Descent regressor</a></li-->
                          </ul>
                        {% else %}
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" type="button" href="{{ url_for('linear')}}">Linear regression</a></li>
                            <li><a class="dropdown-item" type="button" href="{{ url_for('knnreg')}}">K Nearest Neighbors regressor</a></li>
                            <li><a class="dropdown-item" type="button" href="{{ url_for('svmreg')}}">Support Vector Machine regression</a></li>
                            <li><a class="dropdown-item" type="button" href="{{ url_for('treereg')}}">Decision tree regressor</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" type="button" href="{{ url_for('perceptronreg')}}">Neural Network MLP regressor</a></li>
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Stochastic Gradient Descent regressor</a></li-->
                          </ul>
                        {% endif %}
                    </div>

                    <div class="dropdown" id="tour-train-import-classifications">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-object-ungroup"></i>
                          Classification models
                        </button>
                        {% if dependend == "" %} 
                        <ul class="dropdown-menu">
                          <!--li><a class="dropdown-item disabled" type="button" href="#">Logistic regression</a></li-->
                          <!--li><a class="dropdown-item disabled" type="button" href="#">Decision tree</a></li-->
                          <li><a class="dropdown-item disabled" type="button" href="#">Random florest</a></li>
                          <!--li><a class="dropdown-item disabled" type="button" href="#">Support Vector Machine</a></li-->
                          <li><a class="dropdown-item disabled" type="button" href="#">K Nearest Neighbors</a></li>
                          <!--li><a class="dropdown-item disabled" type="button" href="#">Naive Bayes</a></li-->
                        </ul>
                        {% else %}
                        <ul class="dropdown-menu">
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Logistic regression</a></li-->
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Decision tree</a></li-->
                            <li><a class="dropdown-item" type="button" href="{{ url_for('randomforest')}}">Random florest</a></li>
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Support Vector Machine</a></li-->
                            <li><a class="dropdown-item" type="button" href="{{ url_for('knn')}}">K Nearest Neighbors</a></li>
                            <!--li><a class="dropdown-item disabled" type="button" href="#">Naive Bayes</a></li-->
                        </ul>
                        {% endif %}
                    </div>


                </div>
                    
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="descri-tab" data-bs-toggle="tab" data-bs-target="#descri" type="button" role="tab" aria-controls="descri" aria-selected="false">Data statistics</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="types-tab" data-bs-toggle="tab" data-bs-target="#types" type="button" role="tab" aria-controls="types" aria-selected="true">Data manipulator</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="types" aria-selected="true">Data properties</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="outliers-tab" data-bs-toggle="tab" data-bs-target="#outliers" type="button" role="tab" aria-controls="resume" aria-selected="false">Boxplots</button>
                      </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="resume-tab" data-bs-toggle="tab" data-bs-target="#resume" type="button" role="tab" aria-controls="resume" aria-selected="false">Correlation matrix</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="descri" role="tabpanel" aria-labelledby="descri-tab">
                        <p class="card-text">
                            <div class="table-responsive">
                                {% for table in descTable %}
                                    {{ table|safe }}
                                {% endfor %}
                            </div>  
                        </p> 
                    </div>
                    <div class="tab-pane fade show active" id="types" role="tabpanel" aria-labelledby="types-tab">
                        <p class="card-text">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr id='tour-train-import-variables'>
                                            <th scope="col">Variable</th>
                                            {% for title in titles %}
                                                
                                                {% if title == dependend %}
                                                    <th scope="col"><i class="fa-solid fa-star"></i> {{title}}</th>
                                                {% else %}
                                                    <th scope="col">{{title}}</th>
                                                {% endif %}

                                            {% endfor %}
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id='tour-train-import-datatypes'>
                                            <td class="align-middle" scope="col">Current data type</td>
                                            {% for dtype in datatypes %}
                                                {% if dtype == "object" %}
                                                    <td class="align-middle"><span class="badge bg-warning">{{dtype}}</span></td>
                                                {% else %}
                                                    <td class="align-middle"><span class="badge bg-success">{{dtype}}</span></td>
                                                {% endif %}
                                                
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-remove'>
                                            <td class="align-middle">Remove column</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <a href="#" type="button" class="btn btn-danger" data-toggle="tooltip" title="Filter column" data-bs-toggle="modal" data-bs-target="#deleteConfirmation{{title|replace(' ','')}}"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <!-- column Filter Modal -->
                                                <div class="modal fade" id="deleteConfirmation{{title|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <form method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteConfirmationLabel">Are you sure you want to remove the column <b>{{title}}</b> ?</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input hidden type="text" name="mod" value="remcol">
                                                                    <input hidden type="text" name="column" value="{{title}}">

                                                                    <p>⚠️ This action is irreversible. However you can re-import you data again by using the delete dataset button.</p>

                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-filter'>
                                            <td class="align-middle">Filter column</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <a href="#" type="button" class="btn btn-warning" data-toggle="tooltip" title="Filter column" data-bs-toggle="modal" data-bs-target="#filterConfirmation{{title|replace(' ','')}}"><i class="fa fa-filter"></i></a>
                                                </td>
                                                <!-- column Filter Modal -->
                                                <div class="modal fade" id="filterConfirmation{{title|replace(' ','')}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filterConfirmationLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">

                                                        <div class="modal-content">
                                                            <form method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="filterConfirmationLabel">Filter the column <b>{{title}}</b> data</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>

                                                                <div class="modal-body">
                                                                    <input hidden type="text" name="mod" value="filtercol">
                                                                    <input hidden type="text" name="column" value="{{title}}">
                                                                    
                                                                    <div class="form-horizontal">
                                                                        <div class="form-group row">
                                                                            <!-- Min -->
                                                                            <label for="minimum" class="col-sm-5 col-form-label">Minimum value inclusive</label>
                                                                            <div class="col-sm-7">
                                                                                <input type="number" class="form-control text-left" id="minimum" name="minimum"></input>
                                                                            </div>

                                                                            <div>&MediumSpace;</div>
    
                                                                            <!-- Max -->
                                                                            <label for="maximum" class="col-sm-5 col-form-label">Maximum value inclusive</label>
                                                                            <div class="col-sm-7">
                                                                                <input type="number" class="form-control text-left" id="maximum" name="maximum"></input>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div>&MediumSpace;</div>

                                                                    <p>⚠️ Data values >= minimum and <= maximum will be keept. Remaining rows will be removed. Leave field blank to ensure that filter is not applied.</p>

                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <td></td>
                                        </tr>
                                        <tr id='tour-train-import-sety'>
                                            <td class="align-middle">Set as Y column</td>
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <form method="post">
                                                        <input hidden type="text" name="mod" value="setdependent">
                                                        <input hidden type="text" name="column" value="{{title}}">
                                                        {% if title == dependend %}
                                                            <button type="submit" class="btn btn-warning disabled"><i class="fas fa-star"></i></button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                                                        {% endif %}
                                                        
                                                    </form>
                                                </td>
                                            {% endfor %}
                                            <td></td>

                                            <!--td class="align-middle">Set dependend variable</td>
                                            <form method="post">
                                            <input hidden type="text" name="mod" value="setdependent">
                                            {% for title in titles %}
                                                <td class="align-middle">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input" id="{{title}}" name="{{title}}" value="{{title}}">Yes
                                                        <label class="form-check-label" for="{{title}}"></label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                            <td class="align-middle"><button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Apply</button></td>
                                            </form-->
                                        </tr>
                                    </tbody>
                                </table>
 
                            </div>  
                        </p>
                    </div>
                    <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
                        <p class="card-text">
                            <form method="post">
                                <input hidden type="text" name="mod" value="setproperties">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save properties</button>
                                <div>&MediumSpace;</div>
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center w-auto">
                                        <thead>
                                            <tr id='tour-train-import-variables'>
                                                <th scope="col">Variable</th>
                                                {% for title in titles %}
                                                    
                                                    {% if title == dependend %}
                                                        <th scope="col" class="th-lg"><i class="fa-solid fa-star"></i> {{title}}</th>
                                                    {% else %}
                                                        <th scope="col" class="th-lg">{{title}}</th>
                                                    {% endif %}

                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle" scope="col">Units</td>
                                                {% for title in titles %}
                                                    <td class="align-middle">
                                                        <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" name={{title}}>
                                                            <optgroup label="Temperature">
                                                                <option value="°C">Celsius</option>
                                                                <option value="°F">Fahrenheit</option>
                                                                <option value="°K">Kelvin</option>
                                                            </optgroup>
                                                            <optgroup label="Volume">
                                                                <option value="L">L</option>
                                                                <option value="m³">m³</option>
                                                                <option value="Nm³">Nm³</option>
                                                            </optgroup>
                                                            <optgroup label="Mass">
                                                                <option value="g">g</option>
                                                                <option value="kg">Kg</option>
                                                                <option value="t">Ton</option>
                                                            </optgroup>
                                                            <optgroup label="Flow">
                                                                <option value="L/min">L/min</option>
                                                                <option value="L/h">L/h</option>
                                                                <option value="m³/h">m³/h</option>
                                                                <option value="Nm³/h">Nm³/h</option>
                                                                <option value="kg/h">kg/h</option>
                                                                <option value="t/h">t/h</option>
                                                            </optgroup>
                                                            <optgroup label="Pressure and Force">
                                                                <option value="bar">Bar</option>
                                                                <option value="psi">Psi</option>
                                                                <option value="Pa">Pa</option>
                                                                <option value="N">N</option>
                                                            </optgroup>
                                                            <optgroup label="Electricity">
                                                                <option value="V">Volt</option>
                                                                <option value="A">Ampere</option>
                                                            </optgroup>
                                                            <optgroup label="Power and Energy">
                                                                <option value="W">W</option>
                                                                <option value="kW">kW</option>
                                                                <option value="MW">MW</option>
                                                                <option value="Wh">Wh</option>
                                                                <option value="kWh">kWh</option>
                                                                <option value="MWh">MWh</option>
                                                            </optgroup>
                                                            <optgroup label="Speed and Aceleration">
                                                                <option value="rpm">RPM</option>
                                                                <option value="mm/s">mm/s</option>
                                                                <option value="m/s">m/s</option>
                                                                <option value="mm/s²">mm/s²</option>
                                                            </optgroup>
                                                            <optgroup label="Time">
                                                                <option value="sec">sec</option>
                                                                <option value="min">min</option>
                                                                <option value="hour">hour</option>
                                                            </optgroup>
                                                            <optgroup label="Lenght">
                                                                <option value="mm">mm</option>
                                                                <option value="cm">cm</option>
                                                                <option value="m">m</option>
                                                            </optgroup>
                                                            <optgroup label="Others">
                                                                <option value="%">Percentage</option>
                                                                <option value="Yes/No">Yes/No</option>
                                                                <option value="Number">Number</option>
                                                                <option value="Status code">Status code</option>
                                                                <option value="Not defined" selected>Not defined</option>
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                            </form>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="outliers" role="tabpanel" aria-labelledby="outliers-tab">
                        <img src="data:image/jpeg;base64,{{outliers}}" class="img-fluid" alt="..." id="outliersimg">
                    </div>
                    <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                        <img src="data:image/jpeg;base64,{{heatmap}}" class="img-fluid" alt="..." id="heatimg">
                    </div>
                  </div>
            </div>
        </div>
        {% endif %}    
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        {% if uploaded %}
            <div class="card bg-light ms-4 me-4 mb-4">
              <div class="card-header">
                  <i class="fa-solid fa-list fa-database"></i> Dataset preview (only first 10 records)
              </div>
              <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        {% for table in tables %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>  
                </p>
              </div>
            </div>
            {% else %}
            <h5 class="alert alert-primary ms-4 me-4" id="notuploaded">No dataset imported.</h5>
          {% endif %}            
      </div>
  </div>
  
{% endblock %}

{% block scripts %}
<!-- Accentuate the NaN value in table-->
    <script>
        const cells = document.querySelectorAll('td');
        console.log(cells)

        for (let i=0; i < cells.length; i++){
            if(cells[i].innerText == "NaN"){
                cells[i].innerText = "⚠️"
            }
        }
        
    </script>
    <script src="../static/js/intro.min.js"></script>  
    <script src="../static/js/tour-train.js"></script>
{% endblock %}
