{% extends 'base.html' %}

{% block content %}
  <h3 class="m-4">Train new model - Decision tree regressor algorithm</h3>
  <div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-list fa-lg"></i> Model parameters
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-horizontal">

                        <div class="form-group row">

                            <!-- Name -->
                            <label for="name" class="col-sm-1 col-form-label">Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control text-left" id="name" name="name" required></input>
                            </div>

                            <!-- Description -->
                            <label for="description" class="col-sm-1 col-form-label">Description</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control text-left" id="description" name="description" required></input>
                            </div>
                        </div>

                        <hr>

                        <div>&MediumSpace;</div>
        
                        <div class="form-group row">
                            <!-- Max depth -->
                            <label for="maxdepth" class="col-sm-1 col-form-label">Max depth</label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-text"><a href="#" title="Max depth" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Decision trees tend to overfit on data with a large number of features. Getting the right ratio of samples to number of features is important, since a tree with few samples in high dimensional space is very likely to overfit. Remember that the number of samples required to populate the tree doubles for each additional level the tree grows to. Use max_depth to control the size of the tree to prevent overfitting."><i class="fa-solid fa-circle-info"></i></a></span>
                                    <input type="number" class="form-control text-left" id="maxdepth" name="maxdepth" step="1" value="2" required></input>
                                </div>
                            </div>

                            <label for="criterion" class="col-sm-1 col-form-label">Criterion</label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-text"><a href="#" title="Regression criteria" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="If the target is a continuous value, then for node m 
                                        , common criteria to minimize as for determining locations for future splits are Mean Squared Error (MSE or L2 error), Poisson deviance as well as Mean Absolute Error (MAE or L1 error). MSE and Poisson deviance both set the predicted value of terminal nodes to the learned mean value 
                                         of the node whereas the MAE sets the predicted value of terminal nodes to the median"><i class="fa-solid fa-circle-info"></i></a></span>
                                    <select class="form-select form-select-sm" name="criterion" id="criterion">
                                        <option value="squared_error">Squared error</option>
                                        <option value="friedman_mse">Friedman MSE</option>
                                        <option value="absolute_error">Absolute error</option>
                                        <option value="poisson">Poisson</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div>&MediumSpace;</div>

                        <div class="form-group-row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="scaling" name="scaling" checked>
                                <label class="form-check-label">Use standard scaler for features.</label>
                            </div>
                        </div>

                        <div>&MediumSpace;</div>

                        <div class="form-group-row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="featurered" name="featurered">
                                <label class="form-check-label">Use feature reduction (SelectKBest).</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Feature reduction k -->
                            <label for="selectkbestk" class="col-sm-1 col-form-label">k=</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-text"><a href="#" title="SelectKBest k" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Uses the K best ranked features. The number must be lower than the maximum features available."><i class="fa-solid fa-circle-info"></i></a></span>
                                    <input type="number" class="form-control text-left" id="selectkbestk" name="selectkbestk" value="2" step="1" min="0" max="{{FeaturesCount-1}}"></input>
                                </div>         
                            </div>
                        </div>
    
                        <div>&MediumSpace;</div>

                        <div class="form-group row">
                            <!-- Test size -->
                            <label for="testsize" class="col-sm-1 col-form-label">Test size</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-text"><a href="#" title="Test dataset size" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Define the amount of data used for testing the model. (% of the total data)"><i class="fa-solid fa-circle-info"></i></a></span>
                                    <input type="number" class="form-control text-left" id="testsize" name="testsize" value="33" step="1" min="1" max="90"></input>
                                    <span class="input-group-text">%</span>
                                </div>         
                            </div>
                        </div>

                        <hr>

                        <div>&MediumSpace;</div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-play"></i> Train model</button>
                            </div>
                        </div>
        
                    </div>

                </form>
                    
            </div>
            <div class="card-footer">
                <div class="mt-4 p-5 bg-primary text-white rounded">
                    <h3><i class="fa-solid fa-info-circle fa-lg"></i> What is decision tree?</h3>
                    <blockquote class="blockquote">
                        <p>Decision tree learning is a supervised learning approach used in statistics, data mining and machine learning. In this formalism, a classification or regression decision tree is used as a predictive model to draw conclusions about a set of observations.
                            <br>
                            Tree models where the target variable can take a discrete set of values are called classification trees; in these tree structures, leaves represent class labels and branches represent conjunctions of features that lead to those class labels. Decision trees where the target variable can take continuous values (typically real numbers) are called regression trees. More generally, the concept of regression tree can be extended to any kind of object equipped with pairwise dissimilarities such as categorical sequences.[1]
                            <br>
                            Decision trees are among the most popular machine learning algorithms given their intelligibility and simplicity.[2]
                        </p>
                        <footer class="blockquote-footer">From Wikipedia website</footer>
                        <a href="https://scikit-learn.org/stable/modules/tree.html" target="_blank" rel="noopener noreferrer"><i class="fas fa-graduation-cap"></i> Learn more at scikit learn - Decision trees webpage</a>
                      </blockquote>
                </div>
            </div>   
        </div> 
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="../static/js/validation.js"></script>
{% endblock %}
